


@{
    ViewBag.Title = "About";
}


<div id="wrapper">

    <div id="page-wrapper">
        <div class="header">

        </div>
        <div id="page-inner">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <p>Use this area to provide additional information.</p>
            </div>
            </div>
            </div>